h1{text-decoration: underline;
color:white;
text-shadow: wheat;
font-family: 'Times New Roman', Times, serif;
text-align: center;
font-size: 50px;}

body{
background-color: black;
width: 90%;
    margin: 0 auto;
    text-align : center;

}
p{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center;
    color: white;
}
nav{
    font-size: 125%;
    text-decoration: underline;
}
.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;

}

h3{text-decoration: underline;
    color:white;
    text-shadow: wheat;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
 font-size: 50px;}