.row{
    text-align: center;
    font-weight: bold;
}

.list-group{
    padding: 0;
}

.row h1{
    color: black;
    text-transform: uppercase;
}
#ok{display: block;
    margin-left:auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
}